/* Google font: Poppins 600 (for header) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* Google font: Open Sans 400/700 (for body and CTA) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: hsl(322, 100%, 66%);
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}
